
 {{#each serialized as |serialized|}}
    <div class="row" data-id={{item.id}}>
      <div class="col-md-3 cart-item-name">
        <p>{{serialized.name}}</p>
      </div>
      <div class="col-md-3 cart-item-price">
        <p>${{serialized.price}}</p>
      </div>
      <div class="col-md-3 cart-item-quant">
        <input class="quantity" type="number" min=1 step=1 value={{serialized.count}}>
        <button type="button" class="update-cart-item">Update Item Quantity </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="delete-cart-item">Delte Item from Cart </button>
        <br>
      </div>
    </div>
  {{/each}}
