{{#each}}
<div class="cart-order-summary">
  <button type="button" class="delete-cart-item" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="cart-item-name"></p>
  <p class="cart-item-description"></p>
  <input class="cart-item-quant" type="number" value="1"></input>
  <p class="cart-item-price"></p>
</div>
{{/each}}
