{{#each products as |product|}}
<div class="product-module prod-desc" data-id={{product._id}} data-toggle="modal" data-target="#productModal">
  {{product.name}} <br>
  <img class="product-thumb" src={{product.image}} alt="http://imgur.com/qkPReeD">
</div>
{{/each}}
