{{#each products as |product|}}
<div class="product-module prod-desc" data-id={{product._id}}>
  <hr>
  {{product.name}} <br>
  <hr>
  <!--<img class="product-thumb" src={{product.image}} alt="http://imgur.com/qkPReeD">-->
  <p class="product-name"></p>
</div>
{{/each}}
