{{#each}}
  <div class=product-content-wrapper>
    <div class="product-text-wrapper">
    <p class="product-title"></p>
    <p class="product-description"></p>
    <p class="product-price-wrapper">Price: $<span class="product-price"></span></p>
  </div>
    <img class="product-image" src="" title="source: imgur.com"/>
  </div>
    <button class="add-cart-button" type="button">Add to Cart</button>
{{/each}}
