.title-bar {
  height: 40px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1000;
}

.title-bar-logo {
    display: block;
    margin: 0 auto;
    width: 6%;
    background-size: cover;
    background-color: black;
    border-radius: 100%;
}

.header {
  width: 100%;
  margin-bottom: 30px;
}

.image-heaader-logo {
    display: block;
    position: absolute;
    /* bottom: 0; */
    top: 9%;
    left: 18vw;
    margin: 0 auto;
    z-index: 10;
    width: 65%;
    background-size: cover;
}

.image-heaader {
  display: block;
  width: 100%;
  background-size: cover;
}

.navigation {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.button-wrapper {
  margin: 0 auto;
  width: 60%;
  min-width: 370px;
  height: 100%;
}

.nav-button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2vmax;
    font-weight: 300;
    text-align: center;
    height: 100%;
    width: 32%;
    color: white;
    display: inline-block;
    background-color: transparent;
}

.login-wrapper{
  margin: 0 auto;
}

#gears{
  /*position: fixed;
  bottom: 0;*/
}

#gear1 {
    width: 134px;
    height: 130px;
    z-index: -1;
     position: absolute;
     bottom: -15px;
     right: 46vw;
     margin: 0 auto;
     overflow: hidden;
    border: 1px solid pink;
}

.content-container {
  width: 60%;
  min-width: 370px;
  margin: 0 auto;

}

.product-list {

}

/*///// AUTH modal styles /////*/
.ufm-change-password, .ufm-cart, .ufm-single-product {
  font-family: 'Open Sans Condensed', sans-serif;
  float: right;
}


/* product-thumb.handlebars */

.product-thumb-handlebars {
  height: 200px;
  width: 200px;
  display: block;
}

.product-module {
    width: 60%;
    border: 1px solid purple;
    clear: right;
    margin: 60px auto 0 auto;
    margin: 260px auto 0 auto;
}

.product-thumb {
  width: 100%;
  height: 80%;
}

.product-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 6vmin;
  background-color: black;
  color: white;
}


/*   product.handlebars  */
/*/////////////////*/
.product-to-cart  {
  display: hidden;
}

.product-name {
    font-family: 'Work Sans', sans-serif;
    font-size: 6vmin;
    font-weight: 100;
    float: left;
    position: absolute;
    top: -30px;
    left: 0px;
    /* z-index: 0; */
    color: white;
}

.product-content-wrapper {
  width: 36vw;
}

.product-description-wrapper {
    width: 50vw;
    max-width: 70%;
    height: 38vw;
    max-height: 35vh;
    font-size: 1.5vw;
    background: black;
    position: absolute;
    top: 22vh;
    left: -17px;
    display: inline-block;
    /* z-index: 0; */
    padding: 4%;
    opacity: .8;
}

.product-description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.7vmin;
    color: white;
    max-width: 53%;
    text-align: left;
    position: absolute;
    left: 9px;
}

.product-image-wrapper {
  z-index: 4;
  position: absolute;
}

.product-price {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: 3%;
    /* left: 17px; */
    /* float: right; */
}

.product-image {
    display: block;
    width: 80%;
    background-size: cover;
    margin: 0 auto;
}

.add-cart-button {
    /* display: block; */
    width: 46%;
    height: 46px;
    margin: 10px auto;
    background-color: red;
    color: white;
    /* clear: both; */
    border: none;
    position: absolute;
    top: 818%;
    left: -3%;
    z-index: 5;
    /* margin: 0 auto; */
}

/*/////////////////*/

.modal-title {
  text-align: center;
}

/*///////////////////*/

/*   cart.handlebars  */

.cart-item-wrapper {
    border: 1px solid purple;
    clear: both;
    overflow: auto;
}

.cart-item-header {
    float: left;
    font-size: 4vmin;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
    /* padding-left: 25px; */
    /* padding: 5px 80px 5px 3px; */
    /* text-align: center; */
}

.cart-order-summary {
    border: 1px solid cyan;
    clear: both;
    overflow: auto;
    margin-bottom: 15px;
    /* position: relative; */
}

.delete-cart-item {
  float: left;
}

.cart-item-name {
    float: left;
    border: 1px solid red;
}

.cart-item-description {
    float: left;
    border: 1px solid green;
    overflow: scroll;
    height: 60px;
    font-size: 12px;
}

.cart-item-quant {
    float: left;
    border: 1px solid blue;
}

.cart-item-price {
    float: left;
    border: 1px solid orange;
}

.cart-total {
  float: right;
  border: solid 1px black;
  padding: 10px;
  font-weight: 400;
  width: 15%;
}

/*.cart-add {
  visibility: hidden;
}*/

.checkout-button {
  float: right;
  width: 30%;
  height: 30px;
  color: red;
  border: none;
  color: white;
  margin-left: 30px;
}
/*   cart.handlebars ENDS here */



/* order-history.handlebars STARTS here */

.order-history-header-wrapper {
  border: 1px solid purple;
  clear: both;
  overflow: auto;

}

.order-history-header {
    float: left;
    font-size: 4vmin;
    /*width: 14vw;*/
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
    /* margin: 0 auto; */
}

.order-history-wrapper{
  border: 1px solid cyan;
  clear: both;
  overflow: auto;
}


.order-history-id, .order-history-items, .order-history-date {
  float: left;
  font-size: 12px;
  /*width: 15vw;*/
  border-bottom: 1px solid grey;
  text-align: center;
  margin-top: 10px;
}
